:root {
    --text-primary:#181a2f;
    /* --background-primary: #fff; */
    --safe-frame: 1344px;
}

html {
    font-size: 16px;
}

.page {
    background-color: #d2e56a;
    max-width: 100%;
    min-width: 320px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    color: var(--text-primary);
    font-size: 1em;
}

.header {
    background: #413e3e;
    position: sticky;
    height: 112px;
    /*     
    width: 100px;
    height: 100px;
    background-color: rgb(245 242 249 / 0%);
    padding: 36px 260px 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    position: sticky;
    top: 0;
    z-index: 1; */
    /* width: 1843px; */ /* не получается сделать хэдер на всю ширину экрана */
    /* width: 100%; */
}

.center {
    outline: 1px solid red;
    margin: 0 auto;
    max-width: var(--safe-frame);
}

.main-screen .center {
    background: #744b4b;
    height: 1016px;
}

.underlay-promo {
    background: #413e3e;
    height: 223px;
    margin-top: -116px!important;
    border-radius: 35px;
    max-width: var(--safe-frame);
    /* position: relative; */
    /* top: -264px; */
}

.promo {
    background: #e16161;
    height: 298px;
    margin-top: -259px!important;
    border-radius: 40px;
    max-width: calc(var(--safe-frame) - 87px)!important;
}

/* =============================================================== */
/* 
.logo {
    width: 175px;
    height: 40px;
    background-image: url(./images/logo.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
} */

/* =============================================================== */

/* 
.company-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 414px;
}

.decorative-line {
    width: 4px;
    height: 29px;
    background-image: url(./images/decorative-line.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.company-name {
    font-size: 14px;
    font-weight: 500;
    max-width: 175px;
}

.company-info-list {
    display: flex;
    justify-content: space-between;
    margin-left: 90px;
    /* min-width: 896px; */ /*
    flex-grow: 1;
}

.list-item {
    display: flex;
    align-items: center;
}

.icon {
    width: 50px;
    height: 50px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 18px;
}

.schedule-title {
    margin-top: 0; /* reset browser margin */ /*
    margin-bottom: 0; /* reset browser margin */ /*
    font-size: 14px;
    font-weight: 500;
    color: #b19cd7;
}

.schedule-mode {
    margin-top: 0; /* reset browser margin */ /*
    margin-bottom: 0; /* reset browser margin */ /*
    font-size: 14px;
    font-weight: 500;
}

.schedule-icon {
    background-image: url(./images/icon-schedule.svg);
}

.geolocation-icon {
    background-image: url(./images/icon-geolocation.svg);
}

.geolocation {
    font-size: 14px;
    font-weight: 600;
    color: #6141b8;
    text-decoration: underline dotted;
}

.phone-icon {
    background-image: url(./images/icon-phone.svg);
}

.phone-number {
    font-size: 18px;
    font-weight: 900;
    color: #6141b8;
} */

/* =============================================================== */

/* .content {
    background-color: #ffffff;
    padding: 0 260px;
} */

.section-title {
    font-size: 56px;
    line-height: 70px;
    font-weight: 900;
    color: red;
}

.section-title-container {
    position: relative;
    z-index: 0;
}

.drop-cap {
    font-size: 100px;
    font-weight: 900;
    line-height: 70px;
    color: #ded2f5;
    position: absolute;
    z-index: -1;
    top: -16px;
    left: -34px;
}
/* =============================================================== */

.footer {
    background-color: #181a2f;
    color: #ffffff;
    padding: 23px 260px 26px;
    display: flex;
    justify-content: space-between;
} 