.page {
    background-color: rgb(24, 26, 47);
    max-width: 100%;
    min-width: 320px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}

/* =============================================================== */

.header {
    background-color: rgb(255, 255, 255);
    padding: 36px 260px 30px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
}

/* =============================================================== */

.content {
    background-color: rgb(255, 255, 255);
    padding: 116px 260px 0;
}

/* =============================================================== */

.footer {
    background-color: rgb(24, 26, 47);
    color: rgb(255, 255, 255);
    padding: 23px 260px 26px;
    display: flex;
    justify-content: space-between;
} 